*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 
}
body{
    margin-top:0;
    font-size: 18px;
    background-color: #f4f4f4;


}
.main-header{
    font-weight: bold;
    padding:30px;
    background-color: orange;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
  
}
nav{
   background-color: rgb(70, 70, 111);
  height: 80px;
  display: flex;

  
}
.main-heading{
    background-color:transparent;
    width: 100vw;
    display:flex;
   
}
.main-heading ul{
 list-style-type: none;
 text-align:center;
 padding-top: 8px;
}

.main-heading ul li a{
    color:whitesmoke;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.main-heading ul li{
    display: inline-flex;
    position: relative;
}
.active, .main-heading ul li:hover{
    background-color: darkred;
    color:rgb(36, 178, 209) ;
    z-index: 100;
}
.main-heading ul li a:hover{
color:yellow ;
}
.sub-menu1{
    background-color:rgba(70, 70, 111,0.8);
    color: white;
    position: absolute; 
    display: none;
    margin-top: 60px;
    margin-left: 0px;
     text-align: center;
     z-index: 1;
}
.main-heading ul li:hover .sub-menu1{ 
    display: block;
}

.main-heading ul li .sub-menu1 ul{
    margin-top: 10px;
    display: block;
}
.main-heading ul li .sub-menu1 ul li{
    display: block;
    padding: 15px;

}
.main-heading ul li .sub-menu1 ul li a:hover{
    color: yellow;
    width: 100%;
}
 
.sub-heading{
    width:100%;
    height: 400px;
    position: relative;

}
 
.sub-heading:before{
    content: '';
    position: absolute;
    width:100%;
    height: 400px;
    top: 0;
    left: 0;
    background-image: url(../images/stock.jpg);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat

}
.beeb{background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-size: 60px;
   text-align: center;
   color: indigo; 
   padding: 0 20px 0 20px;
}
.main-group{
    display: flex;
    flex-direction: row;
    align-items: center;
} 
form{
    display: flex;
}


.group{
    display:flex;
    align-items: center;
    color: white;
    margin-left: 10px;
    }
 input[type="submit"] {
        margin-left: 10px;
        background-color: thistle;
        color: rgb(26, 24, 24);
        height: 35px;
     padding: 8px;
        border-radius: 4px;
    }
    
input[type="password"]{
  margin-left: 8px;
    height: 35px;
    padding: 5px; 
    border-radius: 6px;
    }
    input[type="email"]{
        margin-left: 8px;
        height: 35px;
        padding: 5px; 
        border-radius: 6px;
    
        }
        .account{
            color: wheat;
            font-size: 16px;
            width: 200px;
            margin-left: 12px

            }
            .sub-account:hover{background-color: lightcoral;
                /* width: 110px; */
                 
            }
            .sub-account a:hover {
                color: #000;
            }
            .sub-account a{
                text-decoration: none;
                color: white;
            }
            .wrapper{
                width: 100%;
                height: 280px;
            }
            .container{
                background-color: rgb(225, 225, 225);
                float:left;
                width: 68%;
                padding: 10px;
            }
            
            .side-bar{
            background-color: rgb(225, 225, 225);
                float:right;
                width: 30%;
            height: 100%;
            }
            .side-bar ul{
                text-align: center;
                list-style-position: inside;
                padding-top: 40px;
            }
            .clr{
                clear: both;
            }
            footer{
                
                text-align: center;
                background-color: #f1d2a4;
            }